<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangy.mapper.StudentMapper">
    <select id="selectInPage" resultType="com.yangy.entity.Student">
        SELECT * FROM tb_student
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="birthday != null">
                AND birthday = #{birthday}
            </if>
            <if test="grade != null">
                AND grade = #{grade}
            </if>
            <if test="class_id != null">
                AND class_id = #{class_id}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
            <if test="phone != null">
                AND phone = #{phone}
            </if>
            <if test="address != null">
                AND address = #{address}
            </if>
            <if test="major != null">
                AND major = #{major}
            </if>
        </where>
        LIMIT #{pageSize} OFFSET #{pageNumber}
    </select>
</mapper>
